@import url(./setting/reset.css);
@import url(./setting/base.css);
@import url(./setting/utilituies.css);
/* --- header --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
}
.logo a{
  width: 120px;
  height: 24px;
  background-image: url(../img/logo_w.png);
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  right: -10px;
  text-align: right;
}
.open {
  display: block;
}
.menu a {
  display: block;
  padding: 15px 10px 15px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.5s;
}
.menu a:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
@media (min-width: 576px) {
  .menu {
    position: static;
    display: flex;
  }
  .menu a {
    padding: 5px 15px;
    border: 1px solid transparent;
  }
  .burger-link {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1024px;
  }
}
/* --- banner --- */
.banner {
  height: 420px;
  background-image: url(../img/header_mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.title h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.text-desktop {
  display: none;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .banner {
    background-image: url(../img/header_desktop.png);
  }
  .title {
    padding: 40px 30px;
  }
}
@media (min-width: 992px) {
  .text-mobile {
    display: none;
  }
  .text-desktop {
    display: block;
  }
}
/* ---cart--- */
.cart {
  padding-top: 50px;
  padding-bottom: 50px;
}
.cart-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.cart-title i {
  font-size: 25px;
}
.cart-title h3 {
  font-size: 20px;
  padding-left: 15px;
}
.cart-list a {
  padding: 10px 0 10px 8px;
  display: block;
}
.cart-list a:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.form-input{
  display: flex;
  border: 2px solid var(--bg-secondary);
  margin-bottom: 15px;
}
.form-input input {
  width: 100%;
  border: 0;
  padding-left: 10px;
}
.form-input button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
}
.form-input button:hover {
  opacity: 0.7;
}
.form-input span {
  display: block;
}
.checkout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
.checkout p {
  margin-right: 14px;
}
.checkout i {
  font-size: 30px;
  position: relative;
}
.checkout i:hover {
  opacity: 0.7;
}
.checkout i::after {
  content: attr(data-num);
  position: absolute;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: #F56C23;
  color: var(--text-secondary);
  border-radius: 50%;
  top: -5px;
  right: -5px;
}
.cart-menu li{
  width: 100%;
  text-align: center;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}
.cart-menu li:nth-child(4) {
  margin-bottom: 0;
}
.cart-img {
  position: relative;
}
.cart-img i {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: 10px;
  left: 10px;
}
.tag {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 100px;
}
.tag-p {
  position: relative;
  width: 150px;
  height: 100px;
  overflow: hidden;
}
.tag-p p {
  position: absolute;
  background: #00cc99;
  color: #fff;
  font-size: 14px;
  width: 120px;
  rotate: 45deg;
  right: -30px;
  top: 20px;
}
.tag-p p::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0px;
  display: block;
  border-bottom: 8px solid #029e77;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  rotate: -45deg;
}
.tag-p p::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 1px;
  display: block;
  border-bottom: 8px solid #029e77;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  rotate: 45deg;
}
.cart-img i:hover {
  font-weight: bold;
}
.cart-item {
  padding: 10px;
}
.cart-item h4 {
  font-size: 20px;
}
.cart-item span {
  position: relative;
  font-size: 12px;
}
.cart-item hr {
  width: 90px;
  border: 2px solid var(--bg-secondary);
  margin-bottom: 30px;
}
.cart-item p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.cart-item i {
  font-style: italic;
}
.addbtn {
  display: block;
  padding: 6px 0;
  border: 3px solid #F56C23;
  color: #F56C23;
  border-radius: 3px;
}
.addbtn:hover {
  background: #F56C23;
  color: #fff;
}
.addbtn i {
  margin-right: 10px
}
@media (min-width: 576px) {
  .cart {
    padding-bottom: 20px;
  }
  .cart-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cart-menu li {
    width: 48%;
    margin-bottom: 30px !important;
  }
}
@media (min-width: 992px) {
  .cart-wrap {
    display: flex;
    justify-content: space-between;
  }
  .cart-sidebar {
    width: 22%;
  }
  .cart-content {
    width: 76%;
  }
  .cart-menu {
    justify-content: space-between;
  }
  .cart-menu li {
    width: 31.33%;
  }
}
/* ---footer--- */
.footer {
  padding-bottom: 50px;
}
.footer-item {
  display: flex;
  flex-direction: column;
}
.about h3, .contract h3 {
  font-size: 24px;
  margin-bottom: 16px;
}
.contract {
  margin: 30px 0;
}
.contract ul {
  list-style: disc;
  padding-left: 20px;
}
.fans {
  text-align: right;
}
.fans-img img {
  margin-bottom: 20px;
}
.fans-group a {
  margin-left: 10px;
}
.fans-group a:hover {
  opacity: 0.7;
}
@media (min-width: 992px) {
  .footer-item {
    flex-direction: row;
    justify-content: space-around;
  }
  .about, .contract, .fans {
    width: 30%;
  }
  .contract {
    margin-top: 0;
  }
}